.toast-success {
  background-color : #0d4ca5;
  font-family: 'Cabin', serif;
  width : 350px;
  height : 80px;
  font-size: larger;
  justify-content: center;
  color : white;
  border-radius: 4px;
}

.toast-error {
  background-color : crimson;
  font-family: 'Cabin', serif;
  width : 350px;
  height : 80px;
  font-size: larger;
  justify-content: center;
  color : white;
  border-radius: 4px;
}